/* General styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

h1 {
  font-size: 1.8rem;
}

.actions {
  display: flex;
  align-items: center;
}

.actions button, .actions input {
  margin-left: 10px;
  font-size: 1rem;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.actions button:hover, .actions input:hover {
  background-color: #555;
  transform: scale(1.1);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}

.editor {
  width: 100%;
  max-width: 700px;
  position: relative;
  text-align: center;
  margin-bottom: 40px; /* Increased space between image and sliders */
}

#canvas {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #ccc;
}

#sourceImage {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.controls, .presets {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin-top: 20px;
}

.slider-group {
  margin-bottom: 30px;  /* Increased space between sliders */
  width: 100%;
  max-width: 600px;
}

label {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

input[type="range"] {
  width: 100%;
  transition: all 0.2s;
}

input[type="range"]:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.preset-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin: 5px;
}

.preset-btn:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

/* Preset buttons in one row */
.presets {
  display: flex;
  flex-direction: row;  /* Change to row for horizontal alignment */
  justify-content: center;  /* Center the buttons horizontally */
  flex-wrap: wrap;  /* Allow buttons to wrap if there's not enough space */
  gap: 10px;  /* Add some space between the buttons */
  margin-top: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
position: relative;
  width: 100%;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
  }

  .actions {
      flex-direction: column;
      margin-top: 10px;
  }

  .controls, .presets {
      align-items: stretch;
  }

  .editor {
    transform: scale(0.95);
  }
}

@media screen and (max-width: 480px) {
  h1 {
      font-size: 1.5rem;
  }

  .actions button, .actions input, .preset-btn {
      font-size: 0.9rem;
      padding: 8px 12px;
  }
}

