
*{
  margin: 0;
}
body{
  background-color: black;
}
.green{
   width: 100%;
    height: 0px;
    color: white;
    display: inline-block;
    position: fixed;
}
h1{
  color: white;
}
h2{
  margin-left: 40px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  button {
     float: right;
    border-radius: 5px;
    display: block;
    color: black;
    text-align: center;
    font-weight: 100px;
    font: 1em sans-serif;
    padding: 10px 39px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    background-color:white;
    cursor: pointer;
  }

 button:hover {
    background-color: black;
    color: white;
  }

  .help-textcenter-align{
    margin-left: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .containerapp{
    width: 100%;
    height: 80%;
    margin-top: 40px;
    color: #fff;
  }

  .image-preview img{
  max-width: 490px;
  max-height: 335px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  }

  .range-field{ 
  font-size: 20px;
  justify-content:center;
  width: 100%;
  height: 10px;
  color: white;
  margin-left: 170px;
  accent-color: #e71279;
 } 

 input[type="range"]{
  width: 60%;
  position: relative;
  display: inline-block;
  margin-top: 15px;
  color: black;
}

.preset-filters{
  width: auto;
  height: 150px;
  color: white;
}

.btngreen{
  background-color: black; /* Green */
  border: 2px solid #e71279;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 140px;
  margin-top: 1%;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(207, 215, 215, 0.2);
}

.btngreen:hover {
  background-color: #e71279;
  color: white;
}

 .file-controls a{
  display: block;
    position: relative;
   width: 50%;
    max-height: 45vmin;
    margin: auto;
} 

.file-controls span{
    display: block;
    position: relative;
    width: auto;
    height: 40px;
    background-color: #e71279;/* rgba(16, 119, 203, 0.8); */
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    font-weight: 90px;
    font-size: 40px;  
} 

#sourceImage {
	display: none;
}

.image-preview {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

#canvas {
	max-height: 420px;
	object-fit: contain;
}

.image-preview {
	display: flex;
	justify-content: center;
	margin-top: 20px;
  
}

#canvas {
	max-height: 420px;
	object-fit: contain;
}

#upload-button{
  display:block;
  position: relative;
  margin-left: 450px;
  width: 260px;
  background-color: #e71279;
  color: #fff;
  text-align: center;
  padding: 11px 55px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  height: 25px;
}

